.App {
  text-align: center;
}

.App-logo {
  height: 100px;

  animation: App-logo-spin infinite 10s linear;

  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;

  color: white;
  font-size: calc(10px + 2vmin);

  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.guests {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.guest {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 20px;

  text-align: left;

  border: 1px solid palevioletred;

  transition: background-color linear 150ms;
}

.guest-coming {
  background-color: palegreen;
}

.guest:hover {
  background-color: papayawhip;
  border-width: 2px;
}

.guest-invite {

  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;

  text-align: left;

  background-color: antiquewhite;
  border: 1px solid palegoldenrod;
}

.guest-invite button {
  padding: 10px;

  color: black;
  font-size: 14px;

  background-color: lightpink;
  border: none;
  outline: none;
}

.status {
  height: 0;

  opacity: 0;

  transition: all ease 250ms;
}

.status-in {
  height: 40px;

  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
